{% extends 'bigBox.html.twig' %}

{% block title %}Prostage - Accuei{% endblock %}

{% block TitleP %}
  <div class="cadreTitre">
    <div class="contenu">
      <h1>Accueil</h1>
    </div>
  </div>
{% endblock %}

{% block Boite %}
  <div class="cadreBB">
    <div class="contenu">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Titre</th>
              <th scope="col">Formations</th>
              <th scope="col">Description</th>
              <th scope="col">Nom ETP</th>
              <th scope="col">Activité ETP</th>
              <th scope="col">Adresse ETP</th>
              <th scope="col">Email ETP</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Developpeur Web</td>
              <td>Dut Informatique</td>
              <td>Lorem</td>
              <td>Safran</td>
              <td>Aéraunotique</td>
              <td>lorem</td>
              <td>lorem</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript%}
{% endblock %}
