{% extends 'base.html.twig' %}

{% block title %} PROSTAGE -  Filtrer {% endblock %}


{% block contenuP %}

	<div class="row cadreBB">
				<div class="col-md-6 col-sm-12" style="border:1px solid black; padding:10px;">
				<h3> Par Formation </h3>
				<ul>
				{% for formationCourante in formations %}
					<li>
						<a href="{{path('prostage_formSelect',{idForm:formationCourante.id})}}">
							{{formationCourante.Formation}}
						</a>
					</li>
				{% endfor %}
				</ul>
				</div><br>
				<div class="col-md-6 col-sm-12" style="border:1px solid black; padding:10px;">
				<h3> Par Entreprise </h3>
				<ul>
				{% for entrepriseCourante in entreprises %}
					<li>
						<a href="{{path('prostage_etpSelect',{idEtp:entrepriseCourante.id})}}">
							{{entrepriseCourante.nom}}
						</a>
					</li>
				{% endfor %}
				</ul>
				</div>
	</div>



{% endblock %}
