{% extends 'base.html.twig' %}

{% block title %} PROSTAGE -  Filtrer {% endblock %}


{% block contenuP %}

	<div class="row cadreBB">
		<!-- Tableau ('tab') contenant les types de filtrages -->
		{% set tab = {1:'formation',2:'entreprise'} %}

		{% for typeFiltrage in tab %}<!-- Parcours de tab -->

			<div class="col-md-6 col-sm-12" style="border:1px solid black;"> <!-- encadre en noir -->

				<h3> Par {{typeFiltrage}} </h3>		<!-- titre liste en fonction du type de filtrage -->

				{% for itemListe in 1..10 %}
					<!-- Affichage des elements de la liste de 1 à 10 -->
		        	<li>{{ itemListe }}</li>
				{% endfor %}
      </div>
		{% endfor %}
	</div>



{% endblock %}
