{% extends 'base.html.twig' %}

{% block title %}Prostage - {% endblock %}

{% block body %}


<div class="box">
    <h1> ProStage ✅</h1>
    <h2> - Recherche - </h2>
    <div class="tableau">
        <tb> CONTENU DE LA PAGE: Proposition deux types de filtrage.</tb>
    </div>
</div>
{% endblock %}
