{% extends 'simpleTitle.html.twig' %}

{% block title %}Prostage - Login{% endblock %}

{% block body %}
<div class="cadreTitre">
  <div class="contenu">
    <h1>PROSTAGE</h1>
  </div>
</div>
<div class="bouton">
  <div class="contenu">
    <a href="/accueil">STAGE</a>
  </div>
</div>
{% endblock %}
