<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- IMPLEMENTATION BOOTSTRAP CSS -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{asset('/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('/css/style.css')}}">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.23/fh-3.1.7/kt-2.5.3/rg-1.1.2/rr-1.2.7/sc-2.0.3/sb-1.0.1/sp-1.2.2/datatables.min.css"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
        <div class="container-fluid">
        	<div class="row">
        		<div class="col-md-2">
        		</div>
        		<div class="col-md-8">
              {% block TitleP %}
              {% endblock %}
        		</div>
        		<div class="col-md-2">
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-md-2">
        		</div>
        		<div class="col-md-8">
              {% block Boite %}

              {% endblock %}
        		</div>
        		<div class="col-md-2">
        		</div>
        	</div>
        </div>
        {% endblock %}


        <!-- BLOCK JAVASCRIPT -->

        {% block javascripts %}
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
          <script src="{{asset('/js/bootstrap.min.js')}}" ></script>
          <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.23/fh-3.1.7/kt-2.5.3/rg-1.1.2/rr-1.2.7/sc-2.0.3/sb-1.0.1/sp-1.2.2/datatables.min.js"></script>


        {% endblock %}
    </body>
</html>
